
@{
    ViewBag.Title = "Index";
}

<header class="accentHeader pageHeader">
    @{ 
        Html.RenderPartial("_HeaderNavBar");
    }    
</header>
<article id="mainContentFullWidth">
    <h1>Courses</h1>
</article>

